* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}

.bigWrapper {
    background-color: var(--solid);
    height: 100vh;
    background-size: 10%;
    background-blend-mode: multiply;
}

header {
    display: flex;
    position: relative;
    height: 10vh;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px #fff;
}

header img,
svg {
    padding: 20px;
    float: right;
    width: 40px;
    height: 40px;
    filter: invert(var(--invert)) sepia(20%) saturate(3207%) hue-rotate(130deg) brightness(100%) contrast(100%);
}

header h1 {
    padding: 20px;
    display: block;
    float: left;
    font-family: 'SEGA LOGO FONT';
    letter-spacing: 0.2em;
    word-spacing: 0.4em;
    color: var(--text);
    font-weight: 10;
    font-size: 20px;
}

.extra {
    position: relative;
    height: 10vh;
    box-shadow: 0 0 20px #fff;
}